*{
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body{
background-image: url(vegeta-artwork.jpg);
background-size: cover;
}

#myVideo {
    position: absolute;
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main sidebar"
    "content1 content2 content3 sidebar"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.5fr;
    grid-gap: 0.2rem;

}

nav{
    /* background: red; */
    grid-area: nav;
    padding-bottom: 30px;

}

.logo{
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: auto;
}
.logo:hover{
    transform: scale(1.2);
    filter: brightness(120%);
}
.container nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
  
}
.container nav ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.container nav ul li{
    border-radius: 12px;
    width: 100px;
    background: rgb(22,146,175);
background: linear-gradient(0deg, rgba(22,146,175,1) 14%, rgba(12,140,180,1) 34%, rgba(11,127,169,1) 50%, rgba(6,27,84,1) 91%);
    display: flex;
    justify-content: center;
}
.container nav ul li:hover{
    transform: scale(1.2) rotate(5deg);  
}
.container nav ul li a:hover{
    color:darkturquoise;
}
main{
    /* background:  blue; */
    grid-area: main;
    
}

main img{
    height: 250px;
    width: auto;
    margin-top: 100px;
    margin-left: 100px;
}
main img:hover {
    transform: scale(1.2) rotate(350deg);
    filter: brightness(150%);
    transition-duration: 2s;
    
}
#sidebar{
    /* background: yellow; */
    grid-area: sidebar;
}

#content1{
    /* background: violet; */
    grid-area: content1;
    font-size: 48px;
    color: white;
    padding-left: 80px;
}
#content2{
    /* background: green; */
    grid-area: content2;
    font-size: 48px;
    color: white;
}
#content3{
    /* background: purple; */
    grid-area: content3;
    font-size: 48px;
    color: white;
}

footer{
    /* background: salmon; */
    grid-area: footer;
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
footer img{
    height: 150px;
    width: auto;
}
footer img:hover{
    transform: scale(1.2) rotate(350deg);
    filter: brightness(150%);
    transition-duration: 2s;
}
footer p:hover{
    cursor: pointer;
    color: turquoise;
    transform: scale(1.2) rotate(-5deg);
}
@media only screen and (max-width: 550px) {
    .container {
        display: grid;
        height: 100vh;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1" 
        "content2" 
        "content3" 
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
}
}

.gallery{
    display: flex;
}

.gallery img{
    margin-left: 30px;
    height: 250px;
    width: auto;
    border-radius: 5px;
}

.gallery img:hover{
    transform: scale(1.2);
    filter: contrast(150%);
}
#sidebar{
    opacity: 50%;
}
#sidebar h1{
    padding-left: 10px;
    font-size: 19px;
    background-color: rgb(59, 100, 212);
    border-radius: 20px;
    width: 300px;
    font-weight: 100;
}

#sidebar h1:hover{
    transform: scale(1.1);
    color: white;
}